<!DOCTYPE html>
<html ng-app="myAct">
  <head>
    <title>暖星</title>
    <meta http-equiv="keywords" content="孤独症">
    <meta http-equiv="description" content="与孤独症相关的活动发布平台">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!--<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">-->
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<script src="js/angular.min.js"></script>
	<script src="js/av-mini.js"></script>
	<script src="js/activity.js"></script>
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="http://img.ylznet.com/src/css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/event.css">
	<link rel="stylesheet" type="text/css" href="css/toaster.css">
  </head>
  
  <body ng-controller="actsList">
  	<header>
  		<a class="icon_menu pull_left" href="feedback.jsp"></a>
  		<h1>暖星社区-活动平台</h1>
  		<a class="icon_location pull_right"></a>
  	</header>
  	<div class="content" lists>
		<div class="list" ng-repeat="acts in activities">
  			<div class="list_date list_date_{{$index%4}}"><i ng-bind="acts[0].m_day"></i><span class="list_week" ng-bind="acts[0].w_day"></span></div>
  			<ul class="event_list">
  				<div ng-repeat="act in acts">
	  				<li class="list_item">
	  					<a href="detail.jsp?actid={{act.actid}}">
	  						<div class="cycle cycle_{{$index%4}}" style="top:{{act.title.length/14*0.28+0.38}}rem;"></div>
	  						<div class="list_date_time" style="line-height:{{act.title.length/14*0.5+1.2}}rem;" ng-bind="act.h_m"></div>
	  						<div class="event_title">
	  							<div class="title_content" ng-bind="act.title"></div>
		  						<div class="img_list" ng-if="act.cover.length>0">
		  							<img ng-if="$index>0" class="first_{{$index}}" ng-repeat="cv in act.cover track by $index" ng-src="{{cv}}"/>
		  						</div>
	  						</div>
	  					</a>
	  					<div class="zan pull_right" style="padding-top:{{act.title.length/14*0.24+0.31}}rem;">
	  						<div class="zan_img"></div>
		  					<div id="zan_num" ng-bind="act.thumb_up"></div>
	  					</div>
	  				</li>
	  				<div class="bottom_line"></div>
  				</div>
  			</ul>
  		</div>
 
  	</div>
  <script type="text/javascript" src="js/zepto_1.1.3.js" ></script>
  <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>

  </body>
</html>
